@import "../../../styles/variables.scss";

.button {
  display: flex;
  justify-content: center;
  font-family: $button-font-family;
  width: 100%;
  padding: $button-padding;
  border-radius: $button-border-radius;
  border: $button-border;

  &-placeholder {
    margin-right: $button-placehoder-margin-right;
    font-size: $button-font-size;
  }

  &-icon {
    margin-left: 10px;
  }

  &:hover {
    transition: all 0.2s;
  }

  &-darkpurple {
    background-color: $button-bg-color;
    color: $button-color;

    &:hover {
      background-color: $button-bg-hover;
    }
  }

  &-white {
    background-color: $button-bg-white-color;
    // border: $button-lightpurple-border;
    color: $button-bg-color;

    &:hover {
      background-color: $button-bg-pink-hover;
    }
  }
}
