/* font-family */

$primary-font-family: "Gt America Standard, sans-serif";

/*****************************************/

/* font-size */
$font-size-sm: 14px;
$font-size-md: 16px;
/*****************************************/

/* colors */

$white: #fff;
$black: #1f1f1f;
$purple: #8661c1;
$darkpurple: #35155a;
$pink: #f0afa4;
$darkpink: #ee634b;

/*****************************************/

/* padding */

$padding-sm: 5px;
$padding-md: 10px;

/*****************************************/

/* border */

$border-none: 0px solid;

/*****************************************/

/* radius */

$radius-sm: 5px;

/*****************************************/
