/* font-family */

$primary-font-family: "Gt America Standard, sans-serif";

/*****************************************/

/* font-size */
$font-size-sm: 14px;
$font-size-md: 16px;
/*****************************************/

/* colors */

$white: #fff;
$lightwhite: #fff9;
$black: #1f1f1f;
$purple: #8661c1;
$darkpurple: #35155a;
$lightpurple: #f3eff9;
$pink: #f0afa4;
$darkpink: #ee634b;

/*****************************************/

/* padding */

$padding-sm: 5px;
$padding-md: 10px;
$padding-lg: 20px;

/*****************************************/

/* border */

$border-none: 0px solid;
$border-darkpurple: 1px solid $darkpurple;
$border-lightpurple: 1px solid $lightpurple;

/*****************************************/

/* radius */

$radius-sm: 5px;
$radius-md: 10px;
$radius-lg: 20px;
$radius-circle: 50%;

/*****************************************/

/* Components */

/* customAccordion */
$customAccordion-bg-color: $white;
$customAccordion-color: $darkpurple;
$customAccordion-font-size: $font-size-md;
$customAccordion-title-padding: $padding-sm;
$customAccordion-list-border: $border-lightpurple;

/*****************************************/

/* button */

$button-bg-color: $darkpurple;
$button-bg-white-color: $white;
$button-color: $white;
$button-black-color: $black;
$button-bg-hover: $purple;
$button-bg-pink-hover: $pink;
$button-font-family: $primary-font-family;
$button-font-size: $font-size-sm;
$button-border-radius: $radius-sm;
$button-border: $border-none;
$button-lightpurple-border: $border-lightpurple;
$button-padding: $padding-sm 0;
$button-placehoder-margin-right: $padding-md;

/*****************************************/

/* input */

$input-padding: 20px;
$input-border-radius: 5px;
$input-border: $border-darkpurple;

/*****************************************/

/* customImage */

$customImage-border-radius: $radius-lg;

/*****************************************/

/* customNavbar */

$customNavbar-bg-color: $lightwhite;
$customNavbar-margin-top: 50px;
$customNavbar-padding: 10px 30px;
$customNavbar-border-radius: 40px;
$customNavbar-logo-width: 100px;
$customNavbar-item-margin: 0 20px;
$customNavbar-button-width: 200px;
$customNavbar-item-hover-color: $pink;

/*****************************************/

/* search */

$search-bg-color: $white;
$search-border-radius: $radius-md;
$search-item-borderColor: $border-lightpurple;
$search-item-color: $purple;

/*****************************************/

/* workPanelItem */

$workPanelItem-height: 150px;
$workPanelItem-number-fontSize: 15px;
$workPanelItem-number-panelWidth: 40px;
$workPanelItem-number-panelHeight: 40px;
$workPanelItem-number-marginRight: 5px;
$workPanelItem-number-borderRadius: $radius-circle;
$workPanelItem-text-padding: 0 10px;
$workPanelItem-text-fontSize: 18px;

/*****************************************/

/* footer */

$footer-margin: 30px 0;
$footer-padding: 30px 0;
$footer-logo-width: 200px;
$footer-link-margin: 0 30px 30px 0;
$footer-plink-color: $darkpurple;
$footer-panel-bgColor: $lightwhite;
$footer-panel-borderRadius: $radius-md;
$footer-panel-padding: $padding-lg;
$footer-image-lWidth: 400px;
$footer-image-sWidth: 250px;
$footer-address-bgColor: $white;
$footer-address-padding: $padding-sm;
$footer-address-borderRadius: $radius-sm;

/*****************************************/
