@import "../../../styles/variables.scss";

.input {
  padding: $input-padding;
  border-radius: $input-border-radius;
  border: 1px solid $white;

  &:active,
  &:focus {
    outline: none;
    border: $input-border;
  }
}
