@import "../../../styles/variables.scss";

.customNavbar {
  position: fixed;
  z-index: 10;
  margin-top: $customNavbar-margin-top;
  padding: $customNavbar-padding;
  border-radius: $customNavbar-border-radius;
  font-family: $primary-font-family;
  background-color: $customNavbar-bg-color;

  &-logo {
    width: $customNavbar-logo-width;
  }

  &-list {
    &-item {
      margin: $customNavbar-item-margin;

      &:hover,
      &:active {
        color: $customNavbar-item-hover-color;
      }
    }
  }

  .nav-link.active {
    color: $customNavbar-item-hover-color;
  }

  &-button {
    width: $customNavbar-button-width;
  }
}
