@import "../../../styles/variables.scss";

.addressSearchPanel {
  &-image {
    width: 400px;
  }
}

@media screen and (max-width: 992px) {
  .addressSearchPanel {
    &-image {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
