@import "../../styles/variables.scss";

.landingPage {
  &-welcome {
    padding-left: 50px;
  }

  &-panel {
    margin-bottom: 100px;
  }

  &-star {
    &-img {
      width: 120px;
      margin-top: -6px;
    }

    &-text {
      margin-left: 10px;
      color: $darkpink;
    }
  }

  &-imgPanel {
    border-radius: 10px;
    background-color: $darkpurple;
  }

  &-animText1 {
    right: 20px;
    bottom: 20px;
  }

  &-animText2 {
    width: 90%;
    right: 10px;
    bottom: 20px;
  }

  &-fstars {
    width: 100px;
  }
}

@media screen and (max-width: 1150px) {
  .text-sm {
    font-size: 14px;
    // line-height: 1.3;
  }
}

@media screen and (max-width: 950px) {
  .text-sm {
    font-size: 10px;
    line-height: 1.3;
  }
}

@media screen and (max-width: 768px) {
  .landingPage {
    &-welcome {
      padding: 50px;
    }

    &-calendars {
      margin-top: 20px;

      &-text {
        text-align: center;
      }
    }

    .img4 {
      margin-top: 16px;
    }
  }
}
