@import "../../styles/variables.scss";

.landingPage {
  &-welcome {
    padding-left: 50px;
  }
}

@media screen and (max-width: 768px) {
  .landingPage {
    &-welcome {
      padding: 50px;
    }

    &-calendars {
      margin-top: 20px;

      &-text {
        text-align: center;
      }
    }

    .img4 {
      margin: 16px;
    }
  }
}
